# Where to find workers.properties
JkWorkersFile  	{{ apache_conf_dir }}/workers.properties

# Select the log format
JkLogStampFormat  "[%a %b %d %H:%M:%S %Y]"

# Where to put jk logs
JkLogFile	{{ apache_logs_dir }}/mod_jk.log

# Add shared memory.
# This directive is present with 1.2.10 and
# later versions of mod_jk, and is needed for
# for load balancing to work properly
JkShmFile 	{{ apache_logs_dir }}/jk-runtime-status

# Set the jk log level [debug/error/info]
JkLogLevel	info

# JkOptions indicates to send SSK KEY SIZE
JkOptions +ForwardKeySize +ForwardURICompat -ForwardDirectories

