# Mutex Mecanism. Look at support on https://httpd.apache.org/docs/2.4/fr/mod/core.html#mutex
Mutex file:{{ apache2_log_dir }}/{{ apache2_vhost_serverName }}/mutex
{% if apache2_vhost_https_enabled %}
<IfModule ssl_module>
  SSLRandomSeed startup file:/dev/urandom 1024
  SSLRandomSeed connect file:/dev/urandom 1024
  SSLSessionCache shmcb:{{ apache2_log_dir }}/{{ apache2_vhost_serverName }}/ssl_scache(512000)
  SSLSessionCacheTimeout 1200
</IfModule>
{% endif %} 


<VirtualHost *:{{ apache2_http_default_port }}>
  ServerName {{ apache2_vhost_serverName }}
  {% if apache2_vhost_https_enabled %}
  Redirect permanent / https://{{ apache2_vhost_serverName }}  
  {% else %}
  
  # ServerAdmin: Your address, where problems with the server should be e-mailed.
  # This address appears on some server-generated pages, such as error documents.  e.g. admin@your-domain.com
  ServerAdmin {{ apache2_server_admin }}
  
  # ServerName gives the name and port that the server uses to identify itself.
  # This can often be determined automatically, but we recommend you specify
  # it explicitly to prevent problems during startup.
  # If your host doesn't have a registered DNS name, enter its IP address here.
  ServerAlias {{ apache2_vhost_serverAlias }}
  
  # Include other configuration
  {% include './templates/additionnal.conf.j2' %}

  {% endif %}
</VirtualHost>

{% if apache2_vhost_https_enabled %}
<VirtualHost *:{{ apache2_https_default_port }}>
  
  # ServerAdmin: Your address, where problems with the server should be
  # e-mailed.  This address appears on some server-generated pages, such
  # as error documents.  e.g. admin@your-domain.com
  ServerAdmin {{ apache2_server_admin }}
  
  # ServerName gives the name and port that the server uses to identify itself.
  # This can often be determined automatically, but we recommend you specify
  # it explicitly to prevent problems during startup.
  # If your host doesn't have a registered DNS name, enter its IP address here.
 
  ServerName {{ apache2_vhost_serverName }}
  ServerAlias {{ apache2_vhost_serverAlias }}
  SSLEngine on
  SSLCertificateFile		"{{ apache2_ssl_certs_dir }}/{{ apache2_vhost_serverName}}_cert.pem"
  SSLCertificateKeyFile		"{{ apache2_ssl_private_keys_dir }}/{{ apache2_vhost_serverName}}_key.pem"
  
  # Support only for SSLv3.0 and TLSv1.0
  # all = "+SSLv3 +TLSv1 +TLSv1.1 +TLSv1.2" à partir de la version 1.0.1 d'OpenSSL 
  SSLProtocol             all

  # CA certificate files location
  # SSLCACertificateFile
   
  # Include other configuration
  {% include './templates/additionnal.conf.j2' %}

</VirtualHost>
# Key protection Passphrase at startup
SSLPassPhraseDialog		exec:{{ apache2_vhost_ssl_dir }}/passphrase.sh
{% endif %}